@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
    
}

body{
    min-height: 100vh;
    /* background: linear-gradient(#2b1055,#7597DE); */
    
    background: url('images/Stars.jpg');
}
header{
     position: fixed; 
    top: 0;
    left:0;
    width: 100%;
    padding: 30px,100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    background: linear-gradient(transparent);
    
}
.fixed-content {
    top: 0;
    bottom:0;
    position:fixed;
    overflow-y:scroll;
    overflow-x:hidden;
}
.logo{
    color:#fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    list-style-type: none;
    padding-top: 10px;
    margin-left: 10px;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center; 
}
header ul li{
    list-style: none;
    margin-right: 20px;
    margin-top: 10px;
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px ;
    color:#fff;
    border-radius: 20px;
}
header ul li a:hover,
header ul li a.active
{
    background: #fff;
    color: #2b1055;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    text-align: center;
}
section img{
    position:absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}
#moon{
    width: auto;
    align-items: center;
    margin-left: 600px;
    height:150px;
    box-shadow:0 0 60px 30px #fff,0 0 140px 90px #0ff;
    border-radius: 100px;
    margin-top: 62px;
}
#Mountain{
    width:auto;
    margin-left:500px;
}
#text{
    position: absolute;
    z-index: 9;
    text-align: center;
    margin-top:250px;
    margin-left:400px;
    color: #fff;
    white-space: nowrap;
    font-size: 4.5vw;
    
}
#rock{
    z-index: 10;
}
#btn{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 1000;
    transform: translateY(-100px);
    margin-top: 450px;
    /* margin-left: 614px; */
    
}

#zerminate{
    width: 200px;
    background: cadetblue;
    border-radius: 90px;
}
.container{
    position: relative;
    
    background: #848484;
    color: white;
}
.abt{
    padding: 10px;
}
section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height:100px;
    background: linear-gradient(to top,#1c0522,#fff,transparent);
}
.container h2{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}
.container p{
    font-size: 1em;
    color:#fff;
}
#stars{
    width: 100%;
    height:100%;
    z-index: -1;
}
#about{
    
    margin: 0 auto;
    font-size: 24px;
    
}
.about-image{
    background: url('images/new1.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}
#services{
    background: url('images/uiUX.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}
.row {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    /* background-color: #0ff; */
    position:relative;
    align-items: center;
    padding: 40px;
    }
.col{
    background-color: aliceblue;
        float: left;
        width: 33.33%;
        padding: 10px;
        height: auto;

}


.col img{
    width: 100%;
}
#main{
    box-shadow:20px 20px 100px 10px pink;

   
}
#idh3{
    
    border-left-color: rgb(163, 108, 12);
}
#try{
    background: rgb(137 126 109);
    border-left: 9px solid #efa31d;
    border-radius: 0.75rem;
    font-size: 1rem;
    font-weight: 300;
    padding: 1rem 3rem;
    width: 40%;
    margin-left: 300px;
}
#try1{
    background: rgb(137 126 109);
    border-left: 9px solid #efa31d;
    border-radius: 0.75rem;
    font-size: 1rem;
    font-weight: 300;
    padding: 1rem 3rem;
    width: 30%;
    margin-left: 200px;
}
#try1:hover{
    box-shadow:0 0 10px 10px rgb(60, 46, 46),20px 20px 10px 10px rgb(100, 42, 36);

}
#try2{
    background: rgb(137 126 109);
    border-left: 9px solid #efa31d;
    border-radius: 0.75rem;
    font-size: 1rem;
    font-weight: 300;
    padding: 1rem 3rem;
    width: 30%;
    position: relative;
    margin-right: 200px;
}
#try2:hover

{
    box-shadow:0 0 10px 10px rgb(60, 46, 46),20px 20px 10px 10px rgb(100, 42, 36);

}
#try2.active{
    box-shadow:0 0 10px 10px rgb(60, 46, 46),20px 20px 10px 10px rgb(100, 42, 36);

}
.row{
    background: #e2d1cb;
    

}
#service{
    background:#e2d1cb ;
    width: 100%;

   
}
.port{
    color: rgb(22, 97, 27);
    padding: 100px 100px 0px 100px;
    background-image:url("images/cream.jpg");
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.toogle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display:none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toogle-button .bar{
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}
@media(max-width: 400px) {
    .toogle-button{
        display: flex;
    }

    .navbar-links {
        display: none; 
        width: 100%;
    }

    .fixed{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links li{
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    .navbar-links li a{
        padding: .5rem 1rem;
    }
}
service::before{
    background: linear-gradient(to top,pink,#fff,transparent);

}
.arrow{
    width:100%;
    height:230px;
    background-image: url("newnew.png");
    background-repeat: no-repeat;
    align-items: flex-end;

    
    
}
.foot{
    width: 100%;
    height: 400px;
    background-color: rgb(82, 75, 75);
}
.sci{
    z-index: 100; 
}
/* ####################################################### */


.hidden {
  display: none;
}

.footer-gray {
  background-color: rgb(82, 75, 75);
  width: 100%;
  padding: 100px;
}

.footer-custom {
  color: #888;
  font: normal normal 12px/1.4 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  max-width: 1008px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 24px;
}

.footer-custom:after {
  display: table;
  clear: both;
  content: "";
}

.footer-lists:after {
  display: table;
  clear: both;
  content: "";
}

.ftr-hdr {
  color: #000;
  font: 22px/1.4 'BebasNeueRegular', BebasNeue, 'Bebas Neue', Arial, sans-serif;
  margin: 1em 0 0;
}

@media only screen and (min-width: 768px) {
  .ftr-hdr {
    font-size: 18px;
  }
}

.footer-list-wrap {
  width: 50%;
  float: left;
  box-sizing: border-box;
}

@media only screen and (min-width: 568px) {
  .footer-list-wrap {
    width: 33.3333%;
  }
}

@media only screen and (min-width: 768px) {
  .footer-list-wrap {
    width: 25%;
  }
}

.ftr-links-sub {
  padding: 0;
  margin: 0;
}

.ftr-links-sub:after {
  display: table;
  clear: both;
  content: "";
}

.ftr-links-sub li {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 3px 0;
  color: #888;
  font: normal normal 12px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-transform: uppercase;
  /*width: 150px;*/
}

.footer-custom a,
.footer-custom a:link,
.footer-custom a:visited,
.ftr-links-sub li .link {
  text-decoration: none;
  color: #888;
  padding: 5px 0;
  display: block;
}

.footer-custom .footer-legal a {
  display: inline;
}

.footer-custom a:hover,
.footer-custom a:active,
.ftr-links-sub li .link:hover {
  text-decoration: underline;
  color: #888;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .footer-custom a, .footer-custom a:link, .footer-custom a:visited, .ftr-links-sub li .link {
    padding: 0;
  }
}
/* BEGIN EMAIL CAPTURE STYLES*/

.footer-email {
  text-align: center;
}

#ftrEmailForm {
  height: 44px;
}

#ftrEmailForm .error {
  display: none;
  color: red;
  text-align: left;
}

#ftrEmailForm #ftrEmailInput {
  background: none repeat scroll 0 0 #FFF;
  border: 1px solid #D6D6D6;
  box-sizing: border-box;
  color: #888;
  float: left;
  font: normal normal 14px/1.4 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  padding: 5px;
  width: 70%;
  height: 100%;
}

#ftrEmailForm #ftrEmailInput:hover {
  border: 1px solid #888;
}

#ftrEmailForm #ftrEmailInput:focus {
  border: 1px solid #ef9223;
  outline: #ef9223 auto 5px;
}

#ftrEmailForm .button {
  width: 30%;
  height: 100%;
  padding: 5px;
  float: left;
  border: 1px solid #DFDFDF;
  box-sizing: border-box;
  color: #000;
  font: normal bold 18px/1 BebasFamily, BebasNeueRegular, "Bebas Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  background: #FFF;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e1e1e1));
  background: -webkit-linear-gradient(top, white 0, #e1e1e1 100%);
  background: -moz-linear-gradient(top, white 0, #e1e1e1 100%);
  background: -ms-linear-gradient(top, white 0, #e1e1e1 100%);
  background: -o-linear-gradient(top, white 0, #e1e1e1 100%);
  background: linear-gradient(to bottom, white 0, #e1e1e1 100%);
  cursor: pointer;
  vertical-align: middle;
  outline: none;
}

#ftrEmailForm .button:hover,
#ftrEmailForm .button:active {
  background: black;
  color: #FFF;
  outline: none;
}
/* BEGIN SOCIAL STYLES*/

.footer-social {
  text-align: center;
}

.footer-social ul {
  padding: 0;
  display: inline-block;
  list-style-type: none;
}

.footer-social ul:after {
  display: table;
  clear: both;
  content: "";
}

.footer-social li {
  float: left;
  margin: 0 15px 0 0;
  padding: 0;
}

@media only screen and (min-width: 768px) {
  .footer-lists {
    width: 100%;
  }
  .footer-email {
    width: 50%;
    float: left;
    text-align: left;
  }
  .footer-social {
    width: 45%;
    margin-left: 5%;
    float: left;
    text-align: left;
  }
}

@media only screen and (min-width: 1008px) {
  .footer-lists {
    width: 66.6666%;
    float: left;
  }
  .footer-email {
    width: 33.3333%;
  }
  .footer-social {
    width: 33.3333%;
    float: right;
    margin-left: 0;
  }
}

.footer-legal {
  padding: 15px 0 0;
  clear: left;
}

.footer-payment {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .footer-legal {
    width: 66.6666%;
    float: left;
  }
  .footer-payment {
    width: 33.3333%;
    float: left;
  }
}

@media only screen and (min-width: 1008px) {
  .footer-payment {
    text-align: left;
  }
}

.footer-payment ul {
  padding: 0;
  display: inline-block;
  list-style-type: none;
}

.footer-payment ul li {
  display: inline-block;
  margin: 0 6px;
}

@media only screen and (min-width: 1008px) {
  .footer-payment ul li.ftr-stella {
    margin-left: 0;
  }
}

.ftr-bbb span,
.ftr-stella span {
  background-image: url("esewa-icon.png");
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  height: 36px;
  margin: 0;
  padding: 0;
}

.ftr-bbb span {
  background-position: -339px -8px;
  width: 100%;
}

.ftr-stella span {
  background-position: -339px -107px;
  width: 57px;
}