@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    /* background: linear-gradient(#2b1055,#7597DE); */
    
    background: url('Stars.jpg');
}
header{
     position: fixed; 
    top: 0;
    left:0;
    width: 100%;
    padding: 30px,100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    background: linear-gradient(transparent);
    
}
.fixed-content {
    top: 0;
    bottom:0;
    position:fixed;
    overflow-y:scroll;
    overflow-x:hidden;
}
.logo{
    color:#fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    list-style-type: none;
    padding-top: 10px;
    margin-left: 10px;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center; 
}
header ul li{
    list-style: none;
    margin-right: 20px;
    margin-top: 10px;
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px ;
    color:#fff;
    border-radius: 20px;
}
header ul li a:hover,
header ul li a.active
{
    background: #fff;
    color: #2b1055;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    text-align: center;
}
section img{
    position:absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}
#moon{
    width: auto;
    align-items: center;
    margin-left: 600px;
    height:150px;
    box-shadow:0 0 60px 30px #fff,0 0 140px 90px #0ff;
    border-radius: 100px;
    margin-top: 62px;
}
#Mountain{
    width:auto;
    margin-left:500px;
}
#text{
    position: absolute;
    z-index: 9;
    text-align: center;
    margin-top:250px;
    margin-left:400px;
    color: #fff;
    white-space: nowrap;
    font-size: 4.5vw;
    
}
#rock{
    z-index: 10;
}
#btn{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 1000;
    transform: translateY(-100px);
    margin-top: 450px;
    /* margin-left: 614px; */
    
}

#zerminate{
    width: 200px;
    background: cadetblue;
    border-radius: 90px;
}
.container{
    position: relative;
    padding: 100px;
    background: #1c0522;
    color: white;
}
section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height:100px;
    background: linear-gradient(to top,#1c0522,#fff,transparent);
}
.container h2{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}
.container p{
    font-size: 1em;
    color:#fff;
}
#stars{
    width: 100%;
    height: auto;
    z-index: -1;
}
#about{
    
    margin: 0 auto;
    font-size: 24px;
    
}
.about-image{
    background: url('about-img1.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}
#services{
    background: url('services-img.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}
.row {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    background-color: #0ff;
    position:relative;
    }
.col{
    background-color: aliceblue;
        float: left;
        width: 33.33%;
        padding: 10px;
        height: auto;

}


.col img{
    width: 100%;
}
#main{
    box-shadow:20px 20px 100px 10px pink;

   
}
#idh3{
    
    border-left-color: rgb(163, 108, 12);
}
#try{
    background: rgb(137 126 109);
    border-left: 9px solid #efa31d;
    border-radius: 0.75rem;
    font-size: 1rem;
    font-weight: 300;
    padding: 1rem 3rem;
    width: 40%;
    margin-left: 300px;
}
#try1{
    background: rgb(137 126 109);
    border-left: 9px solid #efa31d;
    border-radius: 0.75rem;
    font-size: 1rem;
    font-weight: 300;
    padding: 1rem 3rem;
    width: 30%;
    margin-left: 200px;
}
#try2{
    background: rgb(137 126 109);
    border-left: 9px solid #efa31d;
    border-radius: 0.75rem;
    font-size: 1rem;
    font-weight: 300;
    padding: 1rem 3rem;
    width: 30%;
    position: relative;
    margin-right: 200px;
}
.row{
    background: #e2d1cb;
    

}
#service{
    background:#e2d1cb ;
    width: 100%;
   
}